{% extends "layout.html" %}
{% block pageTitle %}
  Payment service refunds - Companies House Internal Service
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "The file could not be uploaded to GOV.UK Pay. Try again or contact EMAIL. "
          }
        ]
      }) }}
      <form action="/govpay-failed" method="post">
        <h1 class="govuk-heading-l">Upload file refund for GOV.UK Pay</h1>
        {{ govukFileUpload({
          id: "upload-refunds",
          name: "upload-refunds",
          label: {
           text: "Upload a file"
          }
        }) }}
        {{ govukButton({
          text: "Submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}