
{% extends "layout.html" %}

{% block pageTitle %}
  Payment service refunds - Companies House Internal Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Payment service refunds</h1>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="overview">Overview</a></li>
  <li><a href="no-error">No error</a></li>
  <li><a href="page-not-found">Page not found</a></li>
  <li><a href="govpay-failed">GovPay failed</a></li>
  <li><a href="validate-refund-error">Validate refund error</a></li>
  <li><a href="file-size">File size error</a></li>
  <li><a href="xml-format">XML format error</a></li>
  <li><a href="generic-error-one">Generic error one</a></li>
  <li><a href="generic-error-two">Generic error two</a></li>
  <li><a href="generic-error-three">Generic error three</a></li>
  </ul>
    </div>
  </div>

{% endblock %}
