
{% extends "layout.html" %}

{% block pageTitle %}
  Payment service refunds - Companies House Internal Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Payment service refunds</h1>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="no-error">No error</a></li>
  <li><a href="page-not-found">Page not found</a></li>
  <li><a href="worldpay-failed">Worldpay failed</a></li>
  <li><a href="validate-refund-error">Validate refund error</a></li>
  </ul>
    </div>
  </div>

{% endblock %}
