
{% extends "layout.html" %}
{% set serviceName %}

{% endset%}
{% block pageTitle %}
  Payment service refunds - Companies House Internal Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct. 
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address. 
        </p>
        <p class="govuk-body">
          Return to the <a class="govuk-link" href="https://find-and-update.company-information.service.gov.uk/">Companies House home page</a>.</p>
        </p>
    </div>
  </div>

{% endblock %}
