
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "payment-provider",
        name: "payment-provider",
        fieldset: {
          legend: {
            text: "Which payment provider are you uploading refunds for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }
        items: [
          {
            value: "worldpay",
            text: "WorldPay"
          },
          {
            value: "paypal",
            text: "PayPal"
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
